.bar {
   display: flex;
   align-items: center;
   background-color: #0A2A5C;
   padding: 10px;
   height: 80px;
   width: 1230px;
   justify-content: flex-end;
   /* Align content to the right */
}

.user-details {
   display: flex;
   align-items: center;
   margin-left: auto;
   /* Push the user details to the right */
}

.user-avatar {
   width: 55px;
   height: 55px;
   border-radius: 50%;
   margin-right: 10px;
}

.user-info {
   display: flex;
   flex-direction: column;
   color: white;
}

.user-info p {
   margin: 0;
}

.user-role {
   color: grey;
   font-size: 0.9em;
}