/* login.css */
.login-container {
  display: flex;
  height: 100vh;
}

.left-panel {
  width: 50%;
  background-color: #f8f7f2;
  position: relative;
  /* Enable absolute positioning of children */
}

.role-buttons {
  display: flex;
  justify-content: flex-end;
  align-items: flex-start;
  position: absolute;
  top: 20px;
  right: 20px;
}

.role-button {
  background-color: #002855;
  border: 2px solid white;
  color: white;
  padding: 10px 20px;
  cursor: pointer;
  font-size: 16px;
  margin-left: 10px;
  /* Add space between buttons */
  border-radius: 5px;
}

.role-button.active {
  background-color: #0443A5;
  border-color: #0443A5;
}

.logo-container {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.logo-image {
  width: 100px;
  height: 100px;
  margin-right: 10px;
}

.logo-text {
  font-size: 60px;
  color: #0443A5;
}

.right-panel {
  width: 50%;
  background-color: #0e2a47;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  padding: 20px;
}

.profile-icon-sp .circle {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  border: 2px solid #fff;
  margin-bottom: 20px;
}

.login-form input {
  width: 90%;
  padding: 10px;
  border-radius: 25px;
  border: none;
  margin-bottom: 20px;
  background-color: #f6f6e9;
}

.login-button {
  width: 40%;
  padding: 10px;
  background-color: #ff5722;
  border: none;
  border-radius: 25px;
  color: #fff;
  font-size: 16px;
  cursor: pointer;
  margin-top: 20px;
}

.login-button:hover {
  background-color: #e64a19;
}

.signup-link a {
  color: #fff;
  text-decoration: none;
  margin-top: 15px;
}

.signup-link a:hover {
  text-decoration: none;
}